{% extends 'base.html' %}

{% block con %}
<body>
    <div class="a" style="display: flex; justify-content: center; height: 1100px; ">
        <div class="center">
            <div class="a" style="dispaly:block; height:1100px; background:snow;">
                <div class="a" style="dispaly:block; background:#9640ec; color: snow;">
                    <br>
                    <h1 class="text-center mt-8"><b>Database</b></h1>
                    <div align="center"><h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;관계형/비정형 데이터베이스, 메모리 캐시 등 서비스 목적에 맞는 데이터베이스 플랫폼을 선택해 사용할 수 있습니다&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5></div>
                    <br>
                </div>
                <div style="darkgray:";>
                    <br><br>
                    <div align="center"><h4>고가용성, 보안 활용 및 대규모에서 높은 성능을 지원하며 관계형/비정형 데이터베이스,<br>메모리, 캐시 등 서비스 목적에 맞는 완전관리형 데이터베이스 플랫폼을 지원합니다.</h4></div>
                    <br><br>
                    <div align="center"><h2><b>Database Services</b></h2></div>
                    <br><br><br>
                    <div style="position:absolute; margin-left:50px;"><h2><b>Oracle</b></h2><p style="font-size:14px;">중앙집중 방식의 관리형 모니터링이<br>가능한 관계형 데이터베이스로<br>다른 Admin User들과의 공유가<br>가능하며 다양한 핸들링 지원</p></div> <div style="position:absolute; margin-left:410px; margin-bottom:50;"><h2><b>Mongo</b></h2><p style="font-size:14px;">다중 Replica Set에 데이터를 분산<br>저장 구성이 가능하며, 매우 큰<br>데이터 세트와 높은 처리량을<br>요구하는 작업에 적합한 구성 지원</p></div> <div style="position:absolute; margin-left:780px; margin-bottom:50;"><h2><b>Postgresql</b></h2><p style="font-size:14px;">모바일 애플리케이션 운영의 특화<br>되어있으며 클라우드에서 배포를<br>쉽게 설정, 운영 및 확장이 가능한<br>데이터베이스 관리 시스템</p></div>
                    <div style="position:absolute; margin-left:280px;"><img src="/static/service/database/oracle.png" width="90" height="90" alt></div> <div style="position:absolute; margin-left:385px; margin-top:15px; "><img src="/static/service/col.png" alt></div> <div style="position:absolute; margin-left:650px; margin-bottom:60px;"><img src="/static/service/database/mongo.png" width="90" height="90" alt></div> <div style="position:absolute; margin-left:755px; margin-top:15px; "><img src="/static/service/col.png" alt></div> <div style="position:absolute; margin-left:1020px;"><img src="/static/service/database/postgresql.png" width="90" height="90" alt></div>                  
                    <div style="position:absolute; margin-left:53px; margin-top:150px;"><img src="/static/service/row.png" alt></div> <div style="position:absolute; margin-left:424px; margin-top:150px; "><img src="/static/service/row.png" alt></div> <div style="position:absolute; margin-left:790px; margin-top:150px; "><img src="/static/service/row.png" alt></div>
                    <br><br><br><br><br><br><br><br>
                    <div style="position:absolute; margin-left:50px;"><h2><b>MSSQL</b></h2><p style="font-size:14px;">중앙 집중식 관리를 수행하여 <br>데이터베이스 관리의 용이한<br>관계형 데이터베이스 관리시스템<br></p></div> <div style="position:absolute; margin-left:410px; margin-bottom:50;"><h2><b>DynamoDB</b></h2><p style="font-size:14px;">분산 데이터베이스를 운영 및<br>유휴 시 암호화를 제공하여 데이터<br>보호와 운영 부담 완화에 특화된<br>완전관리형 NoSQL 데이터베이스</p></div> <div style="position:absolute; margin-left:780px; margin-bottom:50;"><h2><b>Neptune</b></h2><p style="font-size:14px;">그래프 애플리케이션을 쉽게 구축,<br>실행할 수 있도록 지원하는<br>완전관리형 데이터베이스 서비스<br></p></div>
                    <div style="position:absolute; margin-left:280px; "><img src="/static/service/database/MSSQL.png" width="90" height="90" alt></div> <div style="position:absolute; margin-left:385px; margin-top:7px; "><img src="/static/service/col.png" alt></div> <div style="position:absolute; margin-left:650px; margin-bottom:60px;"><img src="/static/service/database/dynamoDB.png" width="90" height="90" alt></div> <div style="position:absolute; margin-left:755px; margin-top:7px; "><img src="/static/service/col.png" alt></div> <div style="position:absolute; margin-left:1020px;"><img src="/static/service/database/neptune.png" width="90" height="90" alt></div>
                    <div style="position:absolute; margin-left:53px; margin-top:150px;"><img src="/static/service/row.png" alt></div> <div style="position:absolute; margin-left:424px; margin-top:150px; "><img src="/static/service/row.png" alt></div> <div style="position:absolute; margin-left:790px; margin-top:150px; "><img src="/static/service/row.png" alt></div>
                    <br><br><br><br><br><br><br><br>
                    <div style="position:absolute; margin-left:50px;"><h2><b>DMS</b></h2><p style="font-size:14px;">최소한의 가동 중단으로<br>데이터베이스 마이그레이션을<br>지원하여 빠르고 안전한 방법으로<br>데이터 손실을 방지하는 복제 서비스</p></div> <div style="position:absolute; margin-left:410px; margin-bottom:50;"><h2><b> </b></h2><p> <br> <br> <br> </p></div> <div style="position:absolute; margin-left:780px; margin-bottom:50;"><h2><b> </b></h2><p> <br> <br> <br> </p></div>
                    <div style="position:absolute; margin-left:280px; "><img src="/static/service/database/DMS.png" width="90" height="90" alt></div> <div style="position:absolute; margin-left:385px; margin-top:7px; "><img src="/static/service/col.png" alt></div> <div style="position:absolute; margin-left:650px; margin-bottom:60px;"></div>                   
                        <br><br><br><br><br>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock%}


{% block noauth %}
<body>
    <div class="a" style="display: flex; justify-content: center; height: 1100px; ">
        <div class="center">
            <div class="a" style="dispaly:block; height:1100px; background:snow;">
                <div class="a" style="dispaly:block; background:#9640ec; color: snow;">
                    <br>
                    <h1 class="text-center mt-8"><b>Database</b></h1>
                    <div align="center"><h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;관계형/비정형 데이터베이스, 메모리 캐시 등 서비스 목적에 맞는 데이터베이스 플랫폼을 선택해 사용할 수 있습니다&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5></div>
                    <br>
                </div>
                <div style="darkgray:";>
                    <br><br>
                    <div align="center"><h4>고가용성, 보안 활용 및 대규모에서 높은 성능을 지원하며 관계형/비정형 데이터베이스,<br>메모리, 캐시 등 서비스 목적에 맞는 완전관리형 데이터베이스 플랫폼을 지원합니다.</h4></div>
                    <br><br>
                    <div align="center"><h2><b>Database Services</b></h2></div>
                    <br><br><br>
                    <div style="position:absolute; margin-left:50px;"><h2><b>Oracle</b></h2><p style="font-size:14px;">중앙집중 방식의 관리형 모니터링이<br>가능한 관계형 데이터베이스로<br>다른 Admin User들과의 공유가<br>가능하며 다양한 핸들링 지원</p></div> <div style="position:absolute; margin-left:410px; margin-bottom:50;"><h2><b>Mongo</b></h2><p style="font-size:14px;">다중 Replica Set에 데이터를 분산<br>저장 구성이 가능하며, 매우 큰<br>데이터 세트와 높은 처리량을<br>요구하는 작업에 적합한 구성 지원</p></div> <div style="position:absolute; margin-left:780px; margin-bottom:50;"><h2><b>Postgresql</b></h2><p style="font-size:14px;">모바일 애플리케이션 운영의 특화<br>되어있으며 클라우드에서 배포를<br>쉽게 설정, 운영 및 확장이 가능한<br>데이터베이스 관리 시스템</p></div>
                    <div style="position:absolute; margin-left:280px;"><img src="/static/service/database/oracle.png" width="90" height="90" alt></div> <div style="position:absolute; margin-left:385px; margin-top:15px; "><img src="/static/service/col.png" alt></div> <div style="position:absolute; margin-left:650px; margin-bottom:60px;"><img src="/static/service/database/mongo.png" width="90" height="90" alt></div> <div style="position:absolute; margin-left:755px; margin-top:15px; "><img src="/static/service/col.png" alt></div> <div style="position:absolute; margin-left:1020px;"><img src="/static/service/database/postgresql.png" width="90" height="90" alt></div>                  
                    <div style="position:absolute; margin-left:53px; margin-top:150px;"><img src="/static/service/row.png" alt></div> <div style="position:absolute; margin-left:424px; margin-top:150px; "><img src="/static/service/row.png" alt></div> <div style="position:absolute; margin-left:790px; margin-top:150px; "><img src="/static/service/row.png" alt></div>
                    <br><br><br><br><br><br><br><br>
                    <div style="position:absolute; margin-left:50px;"><h2><b>MSSQL</b></h2><p style="font-size:14px;">중앙 집중식 관리를 수행하여 <br>데이터베이스 관리의 용이한<br>관계형 데이터베이스 관리시스템<br></p></div> <div style="position:absolute; margin-left:410px; margin-bottom:50;"><h2><b>DynamoDB</b></h2><p style="font-size:14px;">분산 데이터베이스를 운영 및<br>유휴 시 암호화를 제공하여 데이터<br>보호와 운영 부담 완화에 특화된<br>완전관리형 NoSQL 데이터베이스</p></div> <div style="position:absolute; margin-left:780px; margin-bottom:50;"><h2><b>Neptune</b></h2><p style="font-size:14px;">그래프 애플리케이션을 쉽게 구축,<br>실행할 수 있도록 지원하는<br>완전관리형 데이터베이스 서비스<br></p></div>
                    <div style="position:absolute; margin-left:280px; "><img src="/static/service/database/MSSQL.png" width="90" height="90" alt></div> <div style="position:absolute; margin-left:385px; margin-top:7px; "><img src="/static/service/col.png" alt></div> <div style="position:absolute; margin-left:650px; margin-bottom:60px;"><img src="/static/service/database/dynamoDB.png" width="90" height="90" alt></div> <div style="position:absolute; margin-left:755px; margin-top:7px; "><img src="/static/service/col.png" alt></div> <div style="position:absolute; margin-left:1020px;"><img src="/static/service/database/neptune.png" width="90" height="90" alt></div>
                    <div style="position:absolute; margin-left:53px; margin-top:150px;"><img src="/static/service/row.png" alt></div> <div style="position:absolute; margin-left:424px; margin-top:150px; "><img src="/static/service/row.png" alt></div> <div style="position:absolute; margin-left:790px; margin-top:150px; "><img src="/static/service/row.png" alt></div>
                    <br><br><br><br><br><br><br><br>
                    <div style="position:absolute; margin-left:50px;"><h2><b>DMS</b></h2><p style="font-size:14px;">최소한의 가동 중단으로<br>데이터베이스 마이그레이션을<br>지원하여 빠르고 안전한 방법으로<br>데이터 손실을 방지하는 복제 서비스</p></div> <div style="position:absolute; margin-left:410px; margin-bottom:50;"><h2><b> </b></h2><p> <br> <br> <br> </p></div> <div style="position:absolute; margin-left:780px; margin-bottom:50;"><h2><b> </b></h2><p> <br> <br> <br> </p></div>
                    <div style="position:absolute; margin-left:280px; "><img src="/static/service/database/DMS.png" width="90" height="90" alt></div> <div style="position:absolute; margin-left:385px; margin-top:7px; "><img src="/static/service/col.png" alt></div> <div style="position:absolute; margin-left:650px; margin-bottom:60px;"></div>                   
                        <br><br><br><br><br>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock%}
