{% extends 'base.html' %}

{% block con %}
<body>
    <div class="a" style="display: flex; justify-content: center; height: 1100px; ">
        <div class="center">
            <div class="a" style="dispaly:block; height:1100px; background:snow;">
                <div class="a" style="dispaly:block; background:#f33e3e; color: snow;">
                    <br>
                    <h1 class="text-center mt-8"><b>Storage</b></h1>
                    <h5 class="text-center mt-8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;시공간 제약 없이 데이터를 저장하고 효율적으로 활용할 수 있는 저장소를 제공하는 서비스&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5>
                    <br>
                </div>
                <div style="darkgray:";>
                    <br><br>
                    <div align="center"><h4>끊임없는 기술 탐구와 수준 높은 성능 보장, 서비스 특성에 최적화와<br>데이터 유실 걱정 없는 백업 정책을 자랑하는 스토리지 인프라 제공</h4></div>
                    <br><br>
                    <div align="center"><h2><b>Storage Services</b></h2></div>
                    <br><br><br>
                    <div style="position:absolute; margin-left:50px;"><h2><b>S3</b></h2><p style="font-size:14px;">업계 최고 수준의 확장성, 데이터<br>가용성, 보안 및 성능을 제공하는<br>객체 스토리지 서비스<br></p></div> <div style="position:absolute; margin-left:410px; margin-bottom:50;"><h2><b>S3 Glacier</b></h2><p style="font-size:14px;">자주 사용되지 않는 데이터를 보관<br>및 백업하는데 유용하며, 확장성이<br>뛰어나며 빠르게 액세스가 가능한<br>저비용 아카이브 스토리지</p></div> <div style="position:absolute; margin-left:780px; margin-bottom:50;"><h2><b>Block Storage</b></h2><p style="font-size:14px;">서버에서 하드디스크처럼 사용하여<br>사용이 쉽고 확장 가능한<br>고성능 블록 스토리지<br></p></div>
                    <div style="position:absolute; margin-left:280px; "><img src="/static/service/storage/S3.png" width="90" height="90" alt></div> <div style="position:absolute; margin-left:385px; margin-top:15px; "><img src="/static/service/col.png" alt></div> <div style="position:absolute; margin-left:650px; margin-bottom:60px;"><img src="/static/service/storage/S3_glacier.png" width="90" height="90" alt></div> <div style="position:absolute; margin-left:755px; margin-top:15px; "><img src="/static/service/col.png" alt></div> <div style="position:absolute; margin-left:1020px;"><img src="/static/service/storage/block_storage.png" width="90" height="90" alt></div>                  
                    <div style="position:absolute; margin-left:53px; margin-top:150px;"><img src="/static/service/row.png" alt></div> <div style="position:absolute; margin-left:424px; margin-top:150px; "><img src="/static/service/row.png" alt></div> <div style="position:absolute; margin-left:790px; margin-top:150px; "><img src="/static/service/row.png" alt></div>
                    <br><br><br><br><br><br><br><br>
                    <div style="position:absolute; margin-left:50px;"><h2><b>File System</b></h2><p style="font-size:14px;">서버에서 파일을 추가 및 제거할 떄<br>자동으로 확장/축소가 되며 관리<br>또는 프로비저닝이 필요없는<br>파일 공유 스토리지</p></div> <div style="position:absolute; margin-left:410px; margin-bottom:50;"><h2><b>FSx</b></h2><p style="font-size:14px;">서버 메시지 블록 프로토콜을 통해<br>액세스가 가능한 고도로 <br>안정적이고 확장 가능한<br>완전관리형 파일 스토리지</p></div> <div style="position:absolute; margin-left:780px; margin-bottom:50;"><h2><b>Backup</b></h2><p style="font-size:14px;">정책을 기반으로 대규모 데이터<br>백업을 중앙 집중화하고 비용<br>효율적으로 보호할 수 있는<br>완전 관리형 스토리지 백업 서비스</p></div>
                    <div style="position:absolute; margin-left:280px; "><img src="/static/service/storage/file_system.png" width="90" height="90" alt></div> <div style="position:absolute; margin-left:385px; margin-top:7px; "><img src="/static/service/col.png" alt></div> <div style="position:absolute; margin-left:650px; margin-bottom:60px;"><img src="/static/service/storage/FSx.png" width="90" height="90" alt></div> <div style="position:absolute; margin-left:755px; margin-top:7px; "><img src="/static/service/col.png" alt></div> <div style="position:absolute; margin-left:1020px;"><img src="/static/service/storage/backup.png" width="90" height="90" alt></div>
                    <div style="position:absolute; margin-left:53px; margin-top:150px;"><img src="/static/service/row.png" alt></div> <div style="position:absolute; margin-left:424px; margin-top:150px; "><img src="/static/service/row.png" alt></div> <div style="position:absolute; margin-left:790px; margin-top:150px; "><img src="/static/service/row.png" alt></div>
                    <br><br><br><br><br><br><br><br>
                    <div style="position:absolute; margin-left:50px;"><h2><b>S3 Gateway</b></h2><p style="font-size:14px;">S3와 로컬 스토리지를 연동해주는<br>서비스로 로컬에 있는 장비와 S3를<br>연동해서 메인 데이터와 접근 <br>빈도가 높은 데이터를 나누는 서비스</p></div> <div style="position:absolute; margin-left:410px; margin-bottom:50;"><h2><b> </b></h2><p> <br> <br> <br> </p></div> <div style="position:absolute; margin-left:780px; margin-bottom:50;"><h2><b> </b></h2><p> <br> <br> <br> </p></div>
                    <div style="position:absolute; margin-left:280px; "><img src="/static/service/storage/S3_gateway.png" width="90" height="90" alt></div> <div style="position:absolute; margin-left:385px; margin-top:7px; "><img src="/static/service/col.png" alt></div> <div style="position:absolute; margin-left:650px; margin-bottom:60px;"></div>                   
                        <br><br><br><br><br>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock%}


{% block noauth %}
<body>
    <div class="a" style="display: flex; justify-content: center; height: 1100px; ">
        <div class="center">
            <div class="a" style="dispaly:block; height:1100px; background:snow;">
                <div class="a" style="dispaly:block; background:#f33e3e; color: snow;">
                    <br>
                    <h1 class="text-center mt-8"><b>Storage</b></h1>
                    <h5 class="text-center mt-8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;시공간 제약 없이 데이터를 저장하고 효율적으로 활용할 수 있는 저장소를 제공하는 서비스&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5>
                    <br>
                </div>
                <div style="darkgray:";>
                    <br><br>
                    <div align="center"><h4>끊임없는 기술 탐구와 수준 높은 성능 보장, 서비스 특성에 최적화와<br>데이터 유실 걱정 없는 백업 정책을 자랑하는 스토리지 인프라 제공</h4></div>
                    <br><br>
                    <div align="center"><h2><b>Storage Services</b></h2></div>
                    <br><br><br>
                    <div style="position:absolute; margin-left:50px;"><h2><b>S3</b></h2><p style="font-size:14px;">업계 최고 수준의 확장성, 데이터<br>가용성, 보안 및 성능을 제공하는<br>객체 스토리지 서비스<br></p></div> <div style="position:absolute; margin-left:410px; margin-bottom:50;"><h2><b>S3 Glacier</b></h2><p style="font-size:14px;">자주 사용되지 않는 데이터를 보관<br>및 백업하는데 유용하며, 확장성이<br>뛰어나며 빠르게 액세스가 가능한<br>저비용 아카이브 스토리지</p></div> <div style="position:absolute; margin-left:780px; margin-bottom:50;"><h2><b>Block Storage</b></h2><p style="font-size:14px;">서버에서 하드디스크처럼 사용하여<br>사용이 쉽고 확장 가능한<br>고성능 블록 스토리지<br></p></div>
                    <div style="position:absolute; margin-left:280px; "><img src="/static/service/storage/S3.png" width="90" height="90" alt></div> <div style="position:absolute; margin-left:385px; margin-top:15px; "><img src="/static/service/col.png" alt></div> <div style="position:absolute; margin-left:650px; margin-bottom:60px;"><img src="/static/service/storage/S3_glacier.png" width="90" height="90" alt></div> <div style="position:absolute; margin-left:755px; margin-top:15px; "><img src="/static/service/col.png" alt></div> <div style="position:absolute; margin-left:1020px;"><img src="/static/service/storage/block_storage.png" width="90" height="90" alt></div>                  
                    <div style="position:absolute; margin-left:53px; margin-top:150px;"><img src="/static/service/row.png" alt></div> <div style="position:absolute; margin-left:424px; margin-top:150px; "><img src="/static/service/row.png" alt></div> <div style="position:absolute; margin-left:790px; margin-top:150px; "><img src="/static/service/row.png" alt></div>
                    <br><br><br><br><br><br><br><br>
                    <div style="position:absolute; margin-left:50px;"><h2><b>File System</b></h2><p style="font-size:14px;">서버에서 파일을 추가 및 제거할 떄<br>자동으로 확장/축소가 되며 관리<br>또는 프로비저닝이 필요없는<br>파일 공유 스토리지</p></div> <div style="position:absolute; margin-left:410px; margin-bottom:50;"><h2><b>FSx</b></h2><p style="font-size:14px;">서버 메시지 블록 프로토콜을 통해<br>액세스가 가능한 고도로 <br>안정적이고 확장 가능한<br>완전관리형 파일 스토리지</p></div> <div style="position:absolute; margin-left:780px; margin-bottom:50;"><h2><b>Backup</b></h2><p style="font-size:14px;">정책을 기반으로 대규모 데이터<br>백업을 중앙 집중화하고 비용<br>효율적으로 보호할 수 있는<br>완전 관리형 스토리지 백업 서비스</p></div>
                    <div style="position:absolute; margin-left:280px; "><img src="/static/service/storage/file_system.png" width="90" height="90" alt></div> <div style="position:absolute; margin-left:385px; margin-top:7px; "><img src="/static/service/col.png" alt></div> <div style="position:absolute; margin-left:650px; margin-bottom:60px;"><img src="/static/service/storage/FSx.png" width="90" height="90" alt></div> <div style="position:absolute; margin-left:755px; margin-top:7px; "><img src="/static/service/col.png" alt></div> <div style="position:absolute; margin-left:1020px;"><img src="/static/service/storage/backup.png" width="90" height="90" alt></div>
                    <div style="position:absolute; margin-left:53px; margin-top:150px;"><img src="/static/service/row.png" alt></div> <div style="position:absolute; margin-left:424px; margin-top:150px; "><img src="/static/service/row.png" alt></div> <div style="position:absolute; margin-left:790px; margin-top:150px; "><img src="/static/service/row.png" alt></div>
                    <br><br><br><br><br><br><br><br>
                    <div style="position:absolute; margin-left:50px;"><h2><b>S3 Gateway</b></h2><p style="font-size:14px;">S3와 로컬 스토리지를 연동해주는<br>서비스로 로컬에 있는 장비와 S3를<br>연동해서 메인 데이터와 접근 <br>빈도가 높은 데이터를 나누는 서비스</p></div> <div style="position:absolute; margin-left:410px; margin-bottom:50;"><h2><b> </b></h2><p> <br> <br> <br> </p></div> <div style="position:absolute; margin-left:780px; margin-bottom:50;"><h2><b> </b></h2><p> <br> <br> <br> </p></div>
                    <div style="position:absolute; margin-left:280px; "><img src="/static/service/storage/S3_gateway.png" width="90" height="90" alt></div> <div style="position:absolute; margin-left:385px; margin-top:7px; "><img src="/static/service/col.png" alt></div> <div style="position:absolute; margin-left:650px; margin-bottom:60px;"></div>                   
                        <br><br><br><br><br>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock%}