{% extends 'base.html' %}
{% load static %}
{% block con %}
<div style="background-color: white;">
    <link rel="stylesheet" href="/static/css/history.css" />
    <div class="i" style="width:2000; height:800px;">
        <div style="padding-top:100px; font-size:50px; color:white;">
            <p class="text-center">회사소개</p>
        </div>
    </div>

    <div class="a" style="color:white; height: 250px;">
            <div class="text-center" style="padding-top:100px;">
                <h3>
                    골드문은 기업용 IT솔루션과 하드웨어와 소프트웨어를 국내외 대기업, SMB, ISV 등
                    <br>
                    공공 및 교육기관등에 공급하고 있으며 
                    <br>
                    글로벌 기업의 반도체 설계과제를 Cloud를 통해 설계, 구축, 관리 운영하고 있습니다.
                </h3>
            </div>
    </div>
   
            <div class="a text-center" style="display:flex; padding-left:320px; padding-top:100px; font-weight:bolder;">

                <div class="card" style="width: 18rem; margin: 20px">
                    <div class="card-header">
                        Customer Centric
                    </div>
                    <img src="/static/intro/apic.png" class="card-img-top" alt="..." height="220" width="512">
                    <div class="card-body">
                        <h5 class="card-title">"고객 중심"</h5>
                        <p class="card-text">고객부터 자영업, 스타트업, 중소기업 나아가 대기업까지 비지니스 성공을 위한 
                                        다양한 분야의 전문가들을 위한 최적의 설루션 제공</p>
                        
                    </div>
                </div>
                
                <div class="card" style="width: 18rem; margin: 20px">
                    <div class="card-header">
                        Anyone
                    </div>
                    <img src="/static/intro/bpic.png" class="card-img-top" alt="..." height="220" width="512">
                    <div class="card-body">
                        <h5 class="card-title"> "누구에게나" </h5>
                        <p class="card-text">누구나 쉽게 사용할 수 있는 클라우드 서비스</p>
                        
                    </div>
                </div>

                <div class="card" style="width: 18rem; margin: 20px">
                    <div class="card-header">
                        Easy
                    </div>
                    <img src="/static/intro/cpic.png" class="card-img-top" alt="..." height="220" width="512">
                    <div class="card-body">
                        <h5 class="card-title"> "고객이 이용하기 쉬운" </h5>
                        <p class="card-text">웹 브라우저 상에서 간단한 클릭만으로 서비스 사용</p>
                        
                    </div>
                </div>

                <div class="card" style="width: 18rem; margin: 20px">
                    <div class="card-header">
                        Efficient
                    </div>
                    <img src="/static/intro/dpic.png" class="card-img-top" alt="..." height="220" width="512">
                    <div class="card-body">
                        <h5 class="card-title"> "합리적인 비용" </h5>
                        <p class="card-text">합리적인 비용으로 인프라와 플랫폼 이용 가능</p>
                        
                    </div>
                </div>

            </div>
                
            <div class="history"  style="padding-top:200px;padding-left:300px;">
                <div>                    
                <head>연혁</head>
                  <h2>2022</h2>
                  <ol>
                    <li>- GitHub 파트너십 체결</li>
                    <li>- 마이크로소프트 Security 전문 파트너</li>
                    <li>- VM ware 파트너 계약</li>
                    <li>- 클라우드 매니지드 사업, 기업 우수상 수상</li>
                    <li>- 사옥이전 및 네이버 클라우드 플랫폼 파트너 체결</li>
                   </ol>
                </div>
                <br></br><br></br>
                <div>
                  <h2>2020</h2>
                  <ol>
                    <li>- Amazon Web Service 파트너 계약</li>
                    <li>- 전북은행 온프레미스 -> AWS 클라우드 서비스</li>
                    <li>&nbsp;&nbsp;&nbsp;마이그레이션 사업 진행</li> 
                    <li>- 애터미 AWS 클라우드 솔루션 도입 사업 진행</li>
                  </ol>
                </div>
                <br></br><br></br>
                <div>
                  <h2>2018</h2>
                  <ol>
                    <li>- AWS 클라우드 디지털 서비스 선정(매니지드)</li>                    
                    <li>- 엔터업plan 투자유치(16억)</li>
                    <li>- 제조업plan 투자유치(13억)</li>
                    <li>- 소매업plan 투자유치(7억)</li>                   
                  </ol>
                </div>
             
             </div>
             
           
            <div class="a text-center" style="font-weight:border;" >
                <div style="display:flex; padding-left:320px; padding-top:100px; padding-bottom: 100px;"> 
                    <div class="card" style="width: 18rem; margin: 20px">
                        <div class="card-header">
                            Amazon Web Services
                        </div>
                        <img src="/static/intro/aws.png" class="card-img-top" alt="..." height="220" width="512">
                        <div class="card-body">
                            <h5 class="card-title">AWS</h5>
                            <p class="card-text">데이터 레이크 구축하고 amazon athena로 분석하여 분석결과를 토대로 결정과
                                급증하는 트래픽 대응위해 서버 다운 타임을 내리기가 필요했고 다양한 매니지드 서비스를 제공받을 수 있다.</p>
                            <a href="https://aws.amazon.com/ko/?nc2=h_lg" class="btn btn-primary">AWS로 이동</a>
                        </div>
                    </div>
                    
                    <div class="card" style="width: 18rem; margin: 20px">
                        <div class="card-header">
                            Net3 Technology
                        </div>
                        <img src="/static/intro/net3.png" class="card-img-top" alt="..." height="220" width="512">
                        <div class="card-body">
                            <h5 class="card-title"> Net3 TECH </h5>
                            <p class="card-text">미 클라우드 회사로 백업 IaaS, 재해 복구 그리고 aws, azure, gcp와 자체 Pvdc cloud를 포함하여 다루는 플랫폼 서비스 제공</p>
                            <br>
                            <a href="https://www.n3t.com/" class="btn btn-primary">Net3 TECH로 이동</a>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem; margin: 20px">
                        <div class="card-header">
                            VM ware
                        </div>
                        <img src="/static/intro/vmware.png" class="card-img-top" alt="..." height="220" width="512">
                        <div class="card-body">
                            <h5 class="card-title"> VMware </h5>
                            <p class="card-text">북미에서 6번째로 큰 소프트웨어 기업이며, 클라우드 컴퓨팅 및 가상화 소프트웨어 판매</p>
                            <br><br>
                            <a href="https://www.vmware.com/kr.html" class="btn btn-primary">VMware로 이동</a>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem; margin: 20px">
                        <div class="card-header">
                            Asus store
                        </div>
                        <img src="/static/intro/asus.png" class="card-img-top" alt="..." height="220" width="512">
                        <div class="card-body">
                            <h5 class="card-title"> Asustor Inc </h5>
                            <p class="card-text">Nas를 주로 판매하며 골드문에서 기업용 스토리지 일부 협약중</p>
                            <br><br><br>
                            <a href="https://www.asustor.com/ko/" class="btn btn-primary">Asustor로 이동</a>
                        </div>
                    </div>
                </div>    



            </div>
</div>        
{% endblock %}


{% block noauth %}
<div style="background-color: white;">
    <link rel="stylesheet" href="/static/css/history.css" />
    <div class="i" style="width:2000; height:800px;">
        <div style="padding-top:100px; font-size:50px; color:white;">
            <p class="text-center">회사소개</p>
        </div>
    </div>

    <div class="a" style="color:white; height: 250px;">
            <div class="text-center" style="padding-top:100px;">
                <h3>
                    우리 회사는 기업용 IT솔루션과 하드웨어와 소프트웨어를 국내외 대기업, SMB, ISV 
                    <br>
                    그리고 공공 및 교육기관등에 공급하고 있으며 
                    <br>
                    글로벌 기업의 반도체 설계과제를 Cloud를 통해 설계, 구축, 관리 운영하고 있습니다.
                </h3>
            </div>
    </div>
   
            <div class="a text-center" style="display:flex; padding-left:320px; padding-top:100px; font-weight:bolder;">

                <div class="card" style="width: 18rem; margin: 20px">
                    <div class="card-header">
                        Customer Centric
                    </div>
                    <img src="/static/intro/apic.png" class="card-img-top" alt="..." height="220" width="512">
                    <div class="card-body">
                        <h5 class="card-title">"고객 중심"</h5>
                        <p class="card-text">고객부터 자영업, 스타트업, 중소기업 나아가 대기업까지 비지니스 성공을 위한 
                                        다양한 분야의 전문가들을 위한 최적의 설루션 제공</p>
                        
                    </div>
                </div>
                
                <div class="card" style="width: 18rem; margin: 20px">
                    <div class="card-header">
                        Anyone
                    </div>
                    <img src="/static/intro/bpic.png" class="card-img-top" alt="..." height="220" width="512">
                    <div class="card-body">
                        <h5 class="card-title"> "누구에게나" </h5>
                        <p class="card-text">누구나 쉽게 사용할 수 있는 클라우드 서비스</p>
                        
                    </div>
                </div>

                <div class="card" style="width: 18rem; margin: 20px">
                    <div class="card-header">
                        Easy
                    </div>
                    <img src="/static/intro/cpic.png" class="card-img-top" alt="..." height="220" width="512">
                    <div class="card-body">
                        <h5 class="card-title"> "고객이 이용하기 쉬운" </h5>
                        <p class="card-text">웹 브라우저 상에서 간단한 클릭만으로 서비스 사용</p>
                        
                    </div>
                </div>

                <div class="card" style="width: 18rem; margin: 20px">
                    <div class="card-header">
                        Efficient
                    </div>
                    <img src="/static/intro/dpic.png" class="card-img-top" alt="..." height="220" width="512">
                    <div class="card-body">
                        <h5 class="card-title"> "합리적인 비용" </h5>
                        <p class="card-text">합리적인 비용으로 인프라와 플랫폼 이용 가능</p>
                        
                    </div>
                </div>

            </div>
            
            <div class="history"  style="padding-top:200px;padding-left:300px;">
                <div>                    
                <head>연혁</head>
                  <h2>2022</h2>
                  <ol>
                    <li>- GitHub 파트너십 체결</li>
                    <li>- 마이크로소프트 Security 전문 파트너</li>
                    <li>- VM ware 파트너 계약</li>
                    <li>- 클라우드 매니지드 사업, 기업 우수상 수상</li>
                    <li>- 사옥이전 및 네이버 클라우드 플랫폼 파트너 체결</li>
                   </ol>
                </div>
                <br></br><br></br>
                <div>
                  <h2>2020</h2>
                  <ol>
                    <li>- Amazon Web Service 파트너 계약</li>
                    <li>- 전북은행 온프레미스 -> AWS 클라우드 서비스</li>
                    <li>&nbsp;&nbsp;&nbsp;마이그레이션 사업 진행</li> 
                    <li>- 애터미 AWS 클라우드 솔루션 도입 사업 진행</li>
                  </ol>
                </div>
                <br></br><br></br>
                <div>
                  <h2>2018</h2>
                  <ol>
                    <li>- AWS 클라우드 디지털 서비스 선정(매니지드)</li>                    
                    <li>- 엔터업plan 투자유치(16억)</li>
                    <li>- 제조업plan 투자유치(13억)</li>
                    <li>- 소매업plan 투자유치(7억)</li>                   
                  </ol>
                </div>
             
             </div>
             
           
            <div class="a text-center" style="font-weight:bolder;" >
                <div style="display:flex; padding-left:320px; padding-top:100px; padding-bottom: 100px; "> 
                    <div class="card" style="width: 18rem; margin: 20px">
                        <div class="card-header">
                            Amazon Web Services
                        </div>
                        <img src="/static/intro/aws.png" class="card-img-top" alt="..." height="220" width="512">
                        <div class="card-body">
                            <h5 class="card-title">AWS</h5>
                            <p class="card-text">데이터 레이크 구축하고 amazon athena로 분석하여 분석결과를 토대로 결정과
                                급증하는 트래픽 대응위해 서버 다운 타임을 내리기가 필요했고 다양한 매니지드 서비스를 제공받을 수 있다.</p>
                            <a href="https://aws.amazon.com/ko/?nc2=h_lg" class="btn btn-primary">AWS로 이동</a>
                        </div>
                    </div>
                    
                    <div class="card" style="width: 18rem; margin: 20px">
                        <div class="card-header">
                            Net3 Technology
                        </div>
                        <img src="/static/intro/net3.png" class="card-img-top" alt="..." height="220" width="512">
                        <div class="card-body">
                            <h5 class="card-title"> Net3 TECH </h5>
                            <p class="card-text">미 클라우드 회사로 백업 IaaS, 재해 복구 그리고 aws, azure, gcp와 자체 Pvdc cloud를 포함하여 다루는 플랫폼 서비스 제공</p>
                            <br>
                            <a href="https://www.n3t.com/" class="btn btn-primary">Net3 TECH로 이동</a>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem; margin: 20px">
                        <div class="card-header">
                            VM ware
                        </div>
                        <img src="/static/intro/vmware.png" class="card-img-top" alt="..." height="220" width="512">
                        <div class="card-body">
                            <h5 class="card-title"> VMware </h5>
                            <p class="card-text">북미에서 6번째로 큰 소프트웨어 기업이며, 클라우드 컴퓨팅 및 가상화 소프트웨어 판매</p>
                            <br><br>
                            <a href="https://www.vmware.com/kr.html" class="btn btn-primary">VMware로 이동</a>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem; margin: 20px">
                        <div class="card-header">
                            Asus store
                        </div>
                        <img src="/static/intro/asus.png" class="card-img-top" alt="..." height="220" width="512">
                        <div class="card-body">
                            <h5 class="card-title"> Asustor Inc </h5>
                            <p class="card-text">Nas를 주로 판매하며 골드문에서 기업용 스토리지 일부 협약중</p>
                            <br><br><br>
                            <a href="https://www.asustor.com/ko/" class="btn btn-primary">Asustor로 이동</a>
                        </div>
                    </div>
                </div>    



            </div>
</div>
        
{% endblock %}
